<html lang="en">
    <head>
    <meta charset="utf-8">
        
        <title>Manú inmersivo</title>
        <meta name="description" content="Figma htmlGenerator">
        <meta name="author" content="htmlGenerator">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/View/inicio/inicio.css">
            
        <style>
        body {background: #ffffff; }
        </style>
    </head>
    <header>
        <span  class="texto_titulo">Instituto de Educación Integral</span>
        <div  class="header_1" background-image ="/public/imagenes/logo.png"></div>
        <div  class="flex-container">
            <button>Tecnología</button>
            <button>Gastronomía </button>
            <button>Servicios y oficios </button>
          </div>
    </header>
    <body>
        <div>
            
        </div>
    </body>
</html>