<html lang="en">
    <head>
    <meta charset="utf-8">
        
        <title>Manú inmersivo Tecnología</title>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/View/inicio/inicio.css">
            
        <style>
        body {background: #ffffff; }
        </style>
    </head>
    <header>
        <span  class="texto_titulo">Instituto de Educación Integral</span>
        <a class="header_1" background-image ="/public/imagenes/logo.png"></a>
        <div  class="flex-container">
            <a href="/View/pagina/pag_tecnologia.html">Tecnología</a>
            <a href="/View/pagina/pag_gastronomia.html">Gastronomía </a>
            <a href="/View/pagina/pag_servicios.html">Servicios y oficios </a>
          </div>
    </header>
    <body onload="img_tec()">
        <div class = "flex-container-images" id="galeria"></div>
    
        <script src="/model/imagenes.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>