<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
          
      <title>Categorias</title>
      <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="inicio.css">
            
      <style>
        body {background: #ffffff; }
      </style>
  </head>
  <header>
    <span  class="texto_titulo">Instituto de Educación Integral</span>
    <div  class="header_1" background-image ="/public/imagenes/logo.png"></div>
    <div  class="flex-container">
        <button>Tecnología</button>
        <button>Gastronomía </button>
        <button>Servicios y oficios </button>
      </div>
  </header>

  <body onload="renderizarGaleria()">
    <span  class="texto_titulo">Instituto de Educación Integral</span>
    <div  class="header_1" background-image ="/public/imagenes/logo.png"></div>
    <div class = "flex-container-images" id="galeria"></div>
      
  </div>

  <script src="inicio.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>