<html lang="en">
  <head>
    <meta charset="utf-8">
          
      <title>Menú inmersivo</title>
      <meta name="description" content="Figma htmlGenerator">
      <meta name="author" content="htmlGenerator">
      <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="inicio.css">
            
      <style>
        body {background: #ffffff; }
      </style>
  </head>
          
  <body>
      <span  class="texto_titulo">Instituto de Educación Integral</span>
      <div  class="header_1" background-image ="/public/imagenes/logo.png"></div>
      <div  class="img_central"></div>
      <div class=e6_15>
        <div  class="fondo_1"></div>
        <div  class="fondo_2"></div>
        <div  class="fondo_3"></div>
        <div  class="img_fondo_1"></div>
        <div  class="img_fondo_2"></div>
        <div  class="img_fondo_3"></div>
        <button  class="btn_1">Conocé más</button>
        <button  class="btn_2">Conocé más</button>
        <button  class="btn_3">Conocé más</button>
        <span  class="text_about">Quienes Somos</span>
        <span  class="text_area_tec">Tecnología</span>
        <span  class="text_area_ser">Servicios y Oficios</span>
        <span  class="text_area_gas">Gastronomía</span>
      </div>
      <div class="cuadro_info_grande">
        <div  class="cuadro_info"></div>
        <div class="grid-container">
          <div class="contacto">Contacto</div>
          <div class="mensaje">¿Tenés alguna duda o sugerencia? Dejanos un mensaje o escribinos a nuestro WhatsApp</div>
          <div class="nombre">
            <label>Nombre</label>
            <input type="text" size="30px" name="txt_nombre"></input>
          </div>
          <div class="correo">
            <label>Correo electrónico</label>
            <input type="email" size="30px" name="txt_correo"></input>
          </div>
          <div class="asunto">
            <label>Asunto</label>
            <input type="text" size="30px" name="txt_asunto"></input>
          </div>
          <div class="mensaje_l">
            <label>Escribe tu mensaje aquí.</label>
            <textarea  rows="3" cols="79" name="txt_mensaje"></textarea>
          </div>
          
        </div>
        <div  class="mapa"></div>
        <button  class="btn_enviar">Enviar</button>
      </div>
      
      <span  class="info_escuela">No te quedés con las dudas, ofrecemos un sbasto catálogo académico, con los mejores especialistas y de la mano del mejor equipo, para afrontar un futuro para asumir los caminos del emprendimiento.</span>
        <div  class="flex-container">
          <a href="/View/pagina/pag_tecnologia.html">Tecnología</a>
          <a>Gastronomía </a>
          <a>Servicios y oficios </a>
        </div>
    </div>
  </body>
    <footer>
      <div class=footer>
        <div  class="logo_footer"></div>
        <div class="grid-container">
          <span  class="direccion">San José, Vásquez de Coronado, Las Nubes</span>
          <span  class="tele">T. (+506) 2529-0494 Wa. (+506) 8972-2295</span>
          <span  class="e6_69">admin.tic.iei@gmail.com</span>
        </div>
        
      </div>
    </footer>
</html>