#galeria {
	display: flex;
	justify-content: space-between;
  }


.nav-item{
    display: flex;
    width:100%;
}

.nav-item > a {
	color: black;
	text-decoration: none;
	font-weight:500;
	width: 100%;
    margin: 10px;
    background-color: transparent;
    line-height: 35px;
    font-size: 40px;
    cursor: pointer;
    flex: 1 1 200px;
    border: 0px;
    transition-duration: 0.4s;
}
.nav-item > a:hover{
    background-color: rgba(0, 140, 156, 0.7);
    color: rgb(0, 0, 0);
}


.box1 {
	background-color:rgba(0, 137.0000222325325, 155.00000596046448, 0.6899999976158142);
	width:100%;
	height:500px;
	}

.img_central { 
	width:100%;
	height:750px;
	background-image:url(/public/imagenes/imagen_central.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.text_about { 
	color:rgba(0, 0, 0, 1);
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}

.info_escuela { 
	color:rgba(0, 0, 0, 1);
	font-family:Inter;
	margin-bottom: 100px;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}

.fondo_1 { 
	width:300px;
	height:300px;
	text-align: center;
	background-image:url(/public/imagenes/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.fondo_2 { 
	width:300px;
	height:300px;
	text-align: center;
	background-image:url(/public/imagenes/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.fondo_3 { 
	width:300px;
	height:300px;
	text-align: center;
	background-image:url(/public/imagenes/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.text_area_tec { 
	color:rgba(0, 0, 0, 1);	
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.text_area_ser { 
	color:rgba(0, 0, 0, 1);	
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.text_area_gas { 
	color:rgba(0, 0, 0,1);
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.img_fondo_1 { 
	width:128px;
	height:128px;
	text-align: center;
	background-image:url(/public/imagenes/painting_paint_art_draw_easel_brush_icon_209224_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.img_fondo_2 { 
	width:140px;
	height:89px;
	text-align: center;
	background-image:url(/public/imagenes/laptop_icon_icons_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.img_fondo_3 { 
	width:128px;
	height:128px;
	text-align: center;
	background-image:url(/public/imagenes/tool_outline_of_hotel_reception_or_covered_food_tray_icon_icons_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.btn_enviar { 
	background-color:rgb(55, 41, 41);
	width: 300px;
	height:60px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	font-size: 30px;
	color:rgb(255, 255, 255)
	
}