<html lang="en">
  <head>
    <meta charset="utf-8">
          
      <title>Menú inmersivo</title>
      <meta name="description" content="Figma htmlGenerator">
      <meta name="author" content="htmlGenerator">
      <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="inicio.css">
            
      <style>
        body {background: #ffffff; }
      </style>
  </head>
          
  <body>
      <span  class="texto_titulo">Instituto de Educación Integral</span>
      <div  class="header_1" background-image ="/public/imagenes/logo.png"></div>
      <div  class="img_central"></div>
      <div class=e6_15>
        <div  class="fondo_1"></div>
        <div  class="fondo_2"></div>
        <div  class="fondo_3"></div>
        <div  class="img_fondo_1"></div>
        <div  class="img_fondo_2"></div>
        <div  class="img_fondo_3"></div>
        <button  class="btn_1">Conocé más</button>
        <button  class="btn_2">Conocé más</button>
        <button  class="btn_3">Conocé más</button>
        <span  class="e6_8">Quienes Somos</span>
        <span  class="e6_27">Tecnología</span>
        <span  class="e6_28">Servicios y Oficios</span>
        <span  class="e6_26">Gastronomía</span></div>
        <div class=e6_29>
        <div  class="e6_63"></div>
        <div  class="e6_30"></div>
        <span  class="e6_64">Enviar</span>
        <span  class="e6_42">Escribe tu mensaje aquí.</span>
        <span  class="e6_34">Contacto</span>
        <span  class="e6_38">¿Tenés alguna duda o sugerencia? Dejanos un mensaje o escribinos a nuestro WhatsApp</span>
        <div  class="e6_36"></div>
        <span  class="e6_40">Email</span>
        <span  class="e6_41">Asunto</span>
        <span  class="e6_39">Nombre</span>
      </div>
      <div class=e6_71>
        <div  class="e6_65"></div>
        <span  class="e6_66">San José, Vásquez de Coronado, Las Nubes</span>
        <span  class="e6_70">T. (+506) 2529-0494 Wa. (+506) 8972-2295</span>
        <span  class="e6_69">admin.tic.iei@gmail.com</span>
      </div>
      <span  class="e6_73">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget velit urna. Sed faucibus elit quis bibendum pharetra. Nullam id fermentum diam.</span>
        <div  class="flex-container">
          <button>Tecnología</button>
          <button>Gastronomía </button>
          <button>Servicios y oficios </button>
        </div>
      
    </div>
  </body>
</html>